@import url('./proTable.less');
@import url('./transition.less');

/* global */
html,
body,
#root,
.ant-app,
.watermark-content {
	height: 100%;
	background-color: var(--hooks-colorBgContainer);
}

/* scroll bar */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--hooks-scrollbarThumb);
	border-radius: 20px;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}

/* nprogress */
#nprogress .bar {
	background: var(--hooks-colorPrimary) !important;
}
#nprogress .spinner-icon {
	border-top-color: var(--hooks-colorPrimary) !important;
	border-left-color: var(--hooks-colorPrimary) !important;
}
#nprogress .peg {
	box-shadow:
		0 0 10px var(--hooks-colorPrimary),
		0 0 5px var(--hooks-colorPrimary) !important;
}

// FIXME: 修改 antd与tailwind样式冲突问题
.ant-btn-primary {
	background-color: #1677ff !important;
}

// FIXME: 点击表格工具栏里的“全屏”后，页面主体区域会真正铺满。
/* maximize layout */
#root.main-maximize {
	.layout-vertical > .ant-layout-sider,
	.layout-vertical > .ant-layout > .ant-layout-header,
	.layout-columns > .sider-split,
	.layout-columns > .ant-layout-sider,
	.layout-columns > .ant-layout > .ant-layout-header,
	.layout-classic > .ant-layout-header,
	.layout-classic .classic-content > .ant-layout-sider,
	.layout-transverse > .ant-layout-header,
	.tabs-box,
	.ant-layout-footer {
		display: none !important;
	}

	.layout-classic .classic-content {
		height: 100% !important;
	}

	.layout-vertical > .ant-layout,
	.layout-columns > .ant-layout,
	.layout-classic .classic-content .classic-main,
	.layout-transverse,
	.ant-layout-content {
		height: 100%;
	}

	.ant-layout-content {
		padding: 0;
	}
}
