# Xcode 
build/ 
# Android/IntelliJ 
build/ 

 
# .env
# .env.development.local
# .env.test.local
# .env.production.local
# .env.local 


# Node.js 
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
errorLog.log


public/*