.table-list-view-modal {
	.ant-modal-body {
		padding-top: 12px;
	}

	.ant-table.ant-table-small {
		font-size: 12px;
	}

	.ant-table.ant-table-small .ant-table-thead > tr > th,
	.ant-table.ant-table-small .ant-table-tbody > tr > td {
		height: 28px;
		padding: 3px 8px;
		line-height: 20px;
	}

	.ant-table.ant-table-small .ant-table-thead > tr > th {
		font-weight: 500;
	}

	.ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td,
	.ant-table-wrapper .ant-table-tbody > tr > td.ant-table-cell-row-hover {
		background: #d6e4ff;
	}

	.ant-table-cell .ant-btn-sm {
		width: 22px;
		height: 22px;
		padding: 0;
	}

	.ant-input-number-sm,
	.ant-select-single.ant-select-sm {
		font-size: 12px;
	}

	.ant-input-number-sm,
	.ant-select-single.ant-select-sm,
	.ant-select-single.ant-select-sm .ant-select-selector {
		height: 24px;
	}

	.ant-select-single.ant-select-sm .ant-select-selection-item,
	.ant-select-single.ant-select-sm .ant-select-selection-placeholder {
		line-height: 22px;
	}
}
