.ant-layout-footer {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	padding: 0;
	border-radius: 10px;
	background-color: var(--hooks-colorBgContainer);
	border-top: 1px solid var(--hooks-colorBorderSecondary);
	a {
		display: inline-flex;
		align-items: center;
		font-size: 14px;
		// color: #a9a8a8;
		color: #4f4d4d;
		text-decoration: none;
		letter-spacing: 0.5px;
		white-space: nowrap;
	}
	.footer-logo {
		display: block;
		width: 64px;
		height: auto;
		max-height: 22px;
		object-fit: contain;
		margin: 0 10px;
	}
}
